In [1]:
#importing importance library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_csv('movies_metadata.csv')
df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [3]:
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [4]:
df.tail()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [6]:
df.describe()

            revenue       runtime  vote_average    vote_count
count  4.546000e+04  45203.000000  45460.000000  45460.000000
mean   1.120935e+07     94.128199      5.618207    109.897338
std    6.433225e+07     38.407810      1.924216    491.310374
min    0.000000e+00      0.000000      0.000000      0.000000
25%    0.000000e+00     85.000000      5.000000      3.000000
50%    0.000000e+00     95.000000      6.000000     10.000000
75%    0.000000e+00    107.000000      6.800000     34.000000
max    2.787965e+09   1256.000000     10.000000  14075.000000

In [7]:
df.nunique()

adult                        5
belongs_to_collection     1698
budget                    1226
genres                    4069
homepage                  7673
id                       45436
imdb_id                  45417
original_language           92
original_title           43373
overview                 44307
popularity               44176
poster_path              45024
production_companies     22708
production_countries      2393
release_date             17336
revenue                   6863
runtime                    353
spoken_languages          1931
status                       6
tagline                  20283
title                    42277
video                        2
vote_average                92
vote_count                1820
dtype: int64

# checking null values

In [8]:
df.isnull().sum()/len(df)*100

adult                     0.000000
belongs_to_collection    90.115691
budget                    0.000000
genres                    0.000000
homepage                 82.883913
id                        0.000000
imdb_id                   0.037391
original_language         0.024194
original_title            0.000000
overview                  2.098271
popularity                0.010997
poster_path               0.848986
production_companies      0.006598
production_countries      0.006598
release_date              0.191352
revenue                   0.013197
runtime                   0.578454
spoken_languages          0.013197
status                    0.191352
tagline                  55.104914
title                     0.013197
video                     0.013197
vote_average              0.013197
vote_count                0.013197
dtype: float64

In [9]:
df.drop(['belongs_to_collection','homepage','tagline'],axis=1,inplace=True)

In [10]:
df.isnull().sum()/len(df)*100

adult                   0.000000
budget                  0.000000
genres                  0.000000
id                      0.000000
imdb_id                 0.037391
original_language       0.024194
original_title          0.000000
overview                2.098271
popularity              0.010997
poster_path             0.848986
production_companies    0.006598
production_countries    0.006598
release_date            0.191352
revenue                 0.013197
runtime                 0.578454
spoken_languages        0.013197
status                  0.191352
title                   0.013197
video                   0.013197
vote_average            0.013197
vote_count              0.013197
dtype: float64

In [11]:
df.dropna(inplace=True)

In [12]:
df.reset_index(drop=True,inplace=True)

In [13]:
df.isnull().sum()/len(df)*100

adult                   0.0
budget                  0.0
genres                  0.0
id                      0.0
imdb_id                 0.0
original_language       0.0
original_title          0.0
overview                0.0
popularity              0.0
poster_path             0.0
production_companies    0.0
production_countries    0.0
release_date            0.0
revenue                 0.0
runtime                 0.0
spoken_languages        0.0
status                  0.0
title                   0.0
video                   0.0
vote_average            0.0
vote_count              0.0
dtype: float64

In [14]:
df['release_date']=pd.to_datetime(df['release_date'])

In [15]:
df['production_companies'].head(1)

0    [{'name': 'Pixar Animation Studios', 'id': 3}]
Name: production_companies, dtype: object

In [16]:
new_df=df[['genres','id','imdb_id','overview','production_companies','poster_path','title']]

In [17]:
new_df=new_df.iloc[0:10000]

In [18]:
new_df

,genres,id,imdb_id,overview,production_companies,poster_path,title
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,tt0114709,"Led by Woody, Andy's toys live happily in his ...","[{'name': 'Pixar Animation Studios', 'id': 3}]",/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,Toy Story
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,tt0113497,When siblings Judy and Peter discover an encha...,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,Jumanji
2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,tt0113228,A family wedding reignites the ancient feud be...,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,Grumpier Old Men
3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,tt0114885,"Cheated on, mistreated and stepped on, the wom...",[{'name': 'Twentieth Century Fox Film Corporat...,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,Waiting to Exhale
4,"[{'id': 35, 'name': 'Comedy'}]",11862,tt0113041,Just when George Banks has recovered from his ...,"[{'name': 'Sandollar Productions', 'id': 5842}...",/e64sOI48hQXyru7naBFyssKFxVd.jpg,Father of the Bride Part II
...,...,...,...,...,...,...,...
9995,"[{'id': 99, 'name': 'Documentary'}]",38643,tt0379357,This documentary examines how Los Angeles has ...,[],/aAXkCI97RDUJtHEi9mVk5vcoIGx.jpg,Los Angeles Plays Itself
9996,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",10027,tt0342258,"Raised as a slave, Danny is used to fighting f...","[{'name': 'Canal Plus', 'id': 104}, {'name': '...",/hfyZgFOjZAk10YlsRl9krBMuQ9K.jpg,Unleashed
9997,"[{'id': 18, 'name': 'Drama'}]",2444,tt0106305,Jota is about to commit suicide. As he fightin...,[],/fc2S2ZakzdShZgkyMrUbFtHSBbX.jpg,The Red Squirrel
9998,"[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...",43429,tt0119626,An emotionally distant father attempts to reco...,"[{'name': 'Televisión Española (TVE)', 'id': 6...",/wc3Shs33dEvSyaBy5ZLKOJqfLXQ.jpg,Martin (Hache)
9999,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",19413,tt0074252,"Giacinto lives with his wife, their ten childr...",[{'name': 'Compagnia Cinematografica Champion'...,/skjwZXDQCCzFZW6TuRolHbnEgem.jpg,"Ugly, Dirty and Bad"

In [19]:
new_df.duplicated().sum()

3

In [20]:
new_df.drop_duplicates(inplace=True)

In [21]:
new_df.duplicated().sum()

0

In [22]:
import ast

In [23]:
def convert(names):
    lists=[]
    for i in ast.literal_eval(names):
        lists.append(i['name'])
        
    return lists

In [24]:
new_df['genres']=new_df['genres'].apply(convert)

In [25]:
new_df['production_companies']=new_df['production_companies'].apply(convert)

In [26]:
new_df['overview']=new_df['overview'].apply(lambda x:x.split())

In [27]:
new_df['poster_path']=new_df['poster_path'].apply(lambda x:x.split())

In [28]:
new_df.head()

,genres,id,imdb_id,overview,production_companies,poster_path,title
0,"[Animation, Comedy, Family]",862,tt0114709,"[Led, by, Woody,, Andy's, toys, live, happily,...",[Pixar Animation Studios],[/rhIRbceoE9lR4veEXuwCC2wARtG.jpg],Toy Story
1,"[Adventure, Fantasy, Family]",8844,tt0113497,"[When, siblings, Judy, and, Peter, discover, a...","[TriStar Pictures, Teitler Film, Interscope Co...",[/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg],Jumanji
2,"[Romance, Comedy]",15602,tt0113228,"[A, family, wedding, reignites, the, ancient, ...","[Warner Bros., Lancaster Gate]",[/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg],Grumpier Old Men
3,"[Comedy, Drama, Romance]",31357,tt0114885,"[Cheated, on,, mistreated, and, stepped, on,, ...",[Twentieth Century Fox Film Corporation],[/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg],Waiting to Exhale
4,[Comedy],11862,tt0113041,"[Just, when, George, Banks, has, recovered, fr...","[Sandollar Productions, Touchstone Pictures]",[/e64sOI48hQXyru7naBFyssKFxVd.jpg],Father of the Bride Part II

In [29]:
new_df['production_companies']=new_df['production_companies'].apply(lambda x:[i.replace(' ','') for i in x])

In [30]:
new_df['overview']=new_df['overview'].apply(lambda x:[i.replace(' ','') for i in x])

In [31]:
new_df['genres']=new_df['genres'].apply(lambda x:[i.replace(' ','') for i in x])

In [32]:
new_df['tags']=new_df['genres']+new_df['overview']+new_df['production_companies']+new_df['poster_path']

In [33]:
new_df.drop(['genres','overview','production_companies',],axis=1,inplace=True)

In [34]:
new_df.head()

,id,imdb_id,poster_path,title,tags
0,862,tt0114709,[/rhIRbceoE9lR4veEXuwCC2wARtG.jpg],Toy Story,"[Animation, Comedy, Family, Led, by, Woody,, A..."
1,8844,tt0113497,[/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg],Jumanji,"[Adventure, Fantasy, Family, When, siblings, J..."
2,15602,tt0113228,[/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg],Grumpier Old Men,"[Romance, Comedy, A, family, wedding, reignite..."
3,31357,tt0114885,[/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg],Waiting to Exhale,"[Comedy, Drama, Romance, Cheated, on,, mistrea..."
4,11862,tt0113041,[/e64sOI48hQXyru7naBFyssKFxVd.jpg],Father of the Bride Part II,"[Comedy, Just, when, George, Banks, has, recov..."

#### make a tags string from lists

In [35]:
new_df['tags']=new_df['tags'].apply(lambda x:"".join(x))

In [36]:
new_df['poster_path']=new_df['poster_path'].apply(lambda x:"".join(x))

In [37]:
new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

In [38]:
new_df.head()

,id,imdb_id,poster_path,title,tags
0,862,tt0114709,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,Toy Story,"animationcomedyfamilyledbywoody,andy'stoyslive..."
1,8844,tt0113497,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,Jumanji,adventurefantasyfamilywhensiblingsjudyandpeter...
2,15602,tt0113228,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,Grumpier Old Men,romancecomedyafamilyweddingreignitestheancient...
3,31357,tt0114885,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,Waiting to Exhale,"comedydramaromancecheatedon,mistreatedandstepp..."
4,11862,tt0113041,/e64sOI48hQXyru7naBFyssKFxVd.jpg,Father of the Bride Part II,comedyjustwhengeorgebankshasrecoveredfromhisda...

In [39]:
import nltk

In [40]:
from nltk.stem.porter import PorterStemmer

In [41]:
ps=PorterStemmer()

In [42]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return ' '.join(y)

In [43]:
new_df['tags']=new_df['tags'].apply(stem)

In [44]:
from sklearn.feature_extraction.text import CountVectorizer

In [45]:
cv=CountVectorizer(max_features=5000,stop_words='english')

In [46]:
vectors=cv.fit_transform(new_df['tags']).toarray()

In [47]:
cv.get_feature_names()

['000',
 '000yearsago',
 '10',
 '100',
 '11',
 '12',
 '14',
 '1492picturesheydayfilmswarnerbros',
 '16',
 '17',
 '18',
 '19',
 '1900',
 '1930',
 '1939',
 '1941',
 '1944',
 '1945',
 '1949',
 '1950',
 '1956',
 '1959',
 '1963',
 '1965',
 '1966',
 '1968',
 '1975',
 '1976',
 '1978',
 '1981',
 '1982',
 '1983',
 '1984',
 '1987',
 '1990',
 '1991',
 '1993',
 '1994',
 '1997',
 '1999',
 '20',
 '200',
 '2001',
 '2002',
 '20thcenturyfoxlargoentertainmentjvcentertainmentnetworks',
 '21',
 '25',
 '250',
 '30',
 '350',
 '40acres',
 '50',
 '500',
 '60',
 '60s',
 '70',
 '700',
 '70s',
 '80',
 '90s',
 '99',
 'a10',
 'a17',
 'a19',
 'a2',
 'a20',
 'a21',
 'a50',
 'aardmananimations',
 'ab',
 'ababy',
 'abandapartdimensionfilmsloshooligansproductions',
 'abattle',
 'abbaskiarostamiproductions',
 'abc',
 'abcmotionpictures',
 'abcpictures',
 'abio',
 'aboveall',
 'abpc',
 'abrilliant',
 'accident',
 'accidents',
 'achild',
 'achildhoodfriend',
 'acollegeprofessor',
 'acop',
 'acouple',
 'actionadventuresciencefictioninapost',
 'actiondramawarlt',
 'actionthrillerit',
 'actor',
 'actors',
 'actually',
 'ada',
 'adam',
 'adams',
 'adaptedfromthenovel',
 'adetective',
 'adisturbedex',
 'adoctor',
 'adopted',
 'adown',
 'adrifter',
 'adrugdealer',
 'adventure',
 'adventureactionwhendr',
 'adventures',
 'adwarf',
 'aei',
 'afamily',
 'afarmer',
 'afast',
 'afemale',
 'affc',
 'afilmeditor',
 'afree',
 'african',
 'afterall',
 'afterawhile',
 'afterherparentsdie',
 'afterhisex',
 'aftershe',
 'afterthewar',
 'afterward',
 'againstallodds',
 'age',
 'agedman',
 'agent',
 'agirl',
 'agood',
 'ahalf',
 'ahard',
 'ahas',
 'ahigh',
 'ahip',
 'ahomosexual',
 'aidanquinn',
 'aip',
 'airplane',
 'ajew',
 'ajournalist',
 'alabama',
 'alan',
 'alaska',
 'alawyer',
 'albert',
 'albertfinney',
 'alconentertainment',
 'aldrichcompany',
 'alec',
 'alecbaldwin',
 'alessandronivola',
 'alex',
 'ali',
 'alice',
 'aliciasilverstone',
 'alife',
 'alive',
 'allen',
 'alliance',
 'alliancesshift',
 'alliedartistspictures',
 'allthewhile',
 'allysheedy',
 'alongtheway',
 'alongwithhiswife',
 'alpescinémacanal',
 'alphavillefilms',
 'altafilmss',
 'altamirapicturesinc',
 'altavistaproductions',
 'altavistaproductionsamericaninternationalpictures',
 'althoughhe',
 'alwaysonthemove',
 'amador',
 'amalgamatedproductionsproducersassociates',
 'amanda',
 'amblinentertainmenttheguber',
 'amblinentertainmenttristarpictures',
 'amblinentertainmentwarnerbros',
 'america',
 'american',
 'americanbroadcastingcompany',
 'americancinemaproductions',
 'americaninternationalpictures',
 'americanzoetrope',
 'americanzoetropetristarpictures',
 'americanzoetropewarnerbros',
 'amexican',
 'amicusproductions',
 'amiddle',
 'amild',
 'amistress',
 'amongothers',
 'amother',
 'amp',
 'amulefilmworks',
 'amulefilmworkstouchstonepictures',
 'amy',
 'an11',
 'anamerican',
 'anda',
 'andagain',
 'andallhellbreaksloose',
 'andbeforelong',
 'andbeforelonghe',
 'anddinah',
 'anddoes',
 'anddoesn',
 'andeachother',
 'andeuropa',
 'andex',
 'andfallsinlovewithher',
 'andfuture',
 'andhe',
 'andhecan',
 'andhedoesn',
 'andhenry',
 'andherbrother',
 'andherhusband',
 'andherlover',
 'andhernewhusband',
 'andherniece',
 'andherself',
 'andhisbrother',
 'andhisfamily',
 'andhisfather',
 'andhisgirlfriend',
 'andhismother',
 'andhiswife',
 'andit',
 'andjack',
 'andjim',
 'andjimmy',
 'andjin',
 'andlove',
 'andman',
 'andmarie',
 'andmary',
 'andmore',
 'andmrs',
 'andmurder',
 'andnow',
 'andnowhe',
 'andoneman',
 'andonlyonemancanstophim',
 'andothers',
 'andout',
 'andpercy',
 'andrew',
 'andrews',
 'andrick',
 'andself',
 'andshe',
 'andson',
 'andsuddenly',
 'andthat',
 'andthe',
 'andthechild',
 'andthecouple',
 'andthegood',
 'andthere',
 'andtheworld',
 'andthey',
 'andtheyfallinlove',
 'andthistime',
 'andthistimethey',
 'andtony',
 'andultimately',
 'andwhat',
 'andy',
 'andyou',
 'anenglishman',
 'anex',
 'anfilmstudio',
 'angela',
 'angelalansbury',
 'angelproductions',
 'angels',
 'angus',
 'anhistorian',
 'anhonest',
 'anightclubsinger',
 'animalhouse',
 'animation',
 'animationwarnerbros',
 'anindian',
 'ann',
 'anna',
 'anne',
 'anoldman',
 'anout',
 'antenne',
 'anthonyhiggins',
 'anti',
 'anton',
 'antoniobanderas',
 'anup',
 'anurse',
 'aone',
 'apettythief',
 'apg',
 'api',
 'apilot',
 'apocalypticfuture',
 'apparently',
 'aprofessor',
 'apsychologyprofessor',
 'arcane',
 'archie',
 'arcolapictures',
 'arenafilm',
 'areporter',
 'argosfilms',
 'arich',
 'army',
 'arnoldkopelsonproductions',
 'arnoldproductions',
 'arnoldschwarzenegger',
 'arockstar',
 'arpsélectioncanal',
 'arrives',
 'arrogant',
 'artagnan',
 'arte',
 'artecentrenationaldelacinématographie',
 'artisanentertainment',
 'artisanentertainmenthaxanfilms',
 'artist',
 'artists',
 'artlinsonproductions',
 'artscouncilofenglandbritishbroadcastingcorporation',
 'arun',
 'aryegross',
 'asaresult',
 'asecond',
 'aself',
 'asensitive',
 'ashley',
 'asitturnsout',
 'asluckwouldhaveit',
 'asmall',
 'asmooth',
 'asnightfalls',
 'asoon',
 'aspercel',
 'aspoiledrichwomanandadeckhandfallinloveandmakeadatetoreuniteaftertheirrescue',
 'ass',
 'asshe',
 'assistedliving',
 'associatedbritishpicturecorporation',
 'associatedproducers',
 'associates',
 'asthefilmprogresses',
 'astimepasses',
 'astripper',
 'astrong',
 'astudent',
 'asuccessfuldoctor',
 'at11',
 'ateveryturn',
 'atfirst',
 'athome',
 'athos',
 'atlanticentertainmentgroup',
 'atleastthat',
 'atnight',
 'atthesametime',
 'atthistime',
 'atwelve',
 'atwenty',
 'atwo',
 'audiovisuel',
 'audiovisueldelafédérationwallonie',
 'australianfilmcommission',
 'australianfilmfinancecorporation',
 'avcoembassypictures',
 'avenuepicturesproductions',
 'awashingtonlobbyist',
 'awell',
 'awidower',
 'awoman',
 'awould',
 'axel',
 'ayoung',
 'ayoungboy',
 'ayoungman',
 'azaria',
 'babe',
 'baby',
 'babylonianproductionsturnernetworktelevision',
 'backstage',
 'badweather',
 'baerproductions',
 'baker',
 'baltimorepictures',
 'bandaivisualcompany',
 'bandaivisualcompanyproductioni',
 'baptiste',
 'barbara',
 'barberaproductions',
 'barefoot',
 'barry',
 'bart',
 'barwoodfilmswarnerbros',
 'based',
 'basedonatruestory',
 'basedonthebest',
 'basedonthereal',
 'basketball',
 'bassproductions',
 'batjacproductionswarnerbros',
 'bayerischerrundfunk',
 'bazmarkfilmstwentiethcenturyfoxfilmcorporation',
 'bbc',
 'bbcfilms',
 'beaconcommunications',
 'beautifulwife',
 'beex',
 'beforeheknowsit',
 'beforeit',
 'beforelong',
 'beforeyoucansay',
 'befriendshim',
 'beijingfilmstudio',
 'beijingnewpicturefilmco',
 'belairentertainmentwarnerbros',
 'beloved',
 'belvisiondargaudfilms',
 'ben',
 'beng',
 'benstiller',
 'bernie',
 'bestfriends',
 'beteiligungskg',
 'betrayal',
 'betrayed',
 'beyondfilms',
 'beyondfilmsaustralianfilmfinancecorporation',
 'bfi',
 'bhd',
 'bible',
 'big',
 'bigelowproductions',
 'billcosby',
 'billy',
 'billyconnolly',
 'billythekid',
 'bingcrosbyproductions',
 'bip',
 'birds',
 'bishop',
 'blacksheep',
 'blest',
 'blind',
 'board',
 'boardingschool',
 'boat',
 'bob',
 'bobby',
 'bocabocaproduccioness',
 'body',
 'bollkinobeteiligungsgmbh',
 'bone',
 'boost',
 'bored',
 'born',
 'bornadultsaftera7yearwait',
 'boss',
 'boudu',
 'bowie',
 'boyd',
 'boyfriend',
 'boylosesgirl',
 'boys',
 'br',
 'brandenburg',
 'brazil',
 'briano',
 'brien',
 'bright',
 'brillstein',
 'bringingwithhimaraggedlittleboycalledheathcliff',
 'brink',
 'britishbroadcastingcorporation',
 'britishfilminstitute',
 'britishinternationalpictures',
 'britishlionfilmcorporation',
 'britishscreenproductions',
 'brookeshields',
 'brooksfilms',
 'brooksfilmsmetro',
 'brother',
 'brothers',
 'brown',
 'brownproductions',
 'bruce',
 'brucedern',
 'bruno',
 'bryan',
 'bskyb',
 'buddy',
 'buddylove',
 'budget',
 'bull',
 'burtlancaster',
 'bush',
 'business',
 'busterkeaton',
 'busterkeatonproductions',
 'butbeforelong',
 'butcan',
 'butchcassidyandthesundancekid',
 'butdoesn',
 'buthe',
 'butheathcliffbecomescompanionandsoulmatetohindley',
 'buthecan',
 'buthedoesn',
 'butifhedoesn',
 'butisittoolate',
 'butisn',
 'butit',
 'butitdoesn',
 'butitisn',
 'butler',
 'butmr',
 'butnotbeforehe',
 'butnow',
 'butshe',
 'butsoon',
 'butthat',
 'butthen',
 'butthere',
 'butthey',
 'buttheyaren',
 'butthingsdon',
 'butthistime',
 'buttodoso',
 'butwhathedoesn',
 'butwhichone',
 'buzz',
 'byaccident',
 'bychance',
 'bycoincidence',
 'byrne',
 'c3',
 'ca',
 'cabincreekfilms',
 'cady',
 'calif',
 'california',
 'called',
 'calvin',
 'camerondiaz',
 'canadianbroadcastingcorporation',
 'canadianfilmdevelopmentcorporation',
 'canal',
 'cannonball',
 'cannonfilms',
 'cannongroup',
 'cannongroupgolan',
 'cannongroupmetro',
 'capitolfilmsredeemablefeatures',
 'cappa',
 'capt',
 'capture',
 'caravanpictureshollywoodpictures',
 'caravanpictureshollywoodpicturesrogerbirnbaumproductions',
 'caravanpicturestouchstonepictures',
 'cardinalpictures',
 'carl',
 'carla',
 'carlyleproductions',
 'carmen',
 'carol',
 'carolcopictures',
 'carolebouquet',
 'carter',
 'cassandra',
 'castlerockentertainment',
 'castlerockentertainmentcolumbiapicturescorporation',
 'castlerockentertainmentwarnerbros',
 'catherine',
 'cathy',
 'cathyandheathcliffgrowupwildandfreeonthemoorsanddespitethecontinuedenmitybetweenhindleyandheathcliffthey',
 'cbc',
 'cbrownproduction',
 'ccc',
 'ccm',
 'cebe',
 'centarfilm',
 'centeredanddecadent',
 'centrenationaldelacinématographie',
 'centuryengland',
 'centuryfrance',
 'cer',
 'cfdc',
 'champion',
 'chan',
 'chang',
 'channelfourfilms',
 'channelfourfilmsparallaxpictures',
 'channelfourfilmspolygramfilmedentertainmentworkingtitlefilms',
 'charles',
 'charlesbronson',
 'charleschaplinproductions',
 'charlesh',
 'charleslaughton',
 'charlie',
 'charm',
 'cheaperbythedozen',
 'cher',
 'cherokeeproductionsmetro',
 'child',
 'children',
 'chinafilmco',
 'chopper',
 'chris',
 'chriso',
 'christinaricci',
 'christopherlambert',
 'christopherwalken',
 'ciby2000eldeseos',
 'cicc',
 'cineguild',
 'cinema77',
 'cinemacity',
 'cinematografica',
 'cinematographab',
 'cinematographabsvenskafilminstitutet',
 'cineplex',
 'cineramaproductionscorp',
 'cinergipicturesentertainmenttouchstonepictures',
 'cinetelfilms',
 'ciné',
 'cio',
 'citizenkane',
 'citizens',
 'civilization',
 'claire',
 'clark',
 'class',
 'classfamily',
 'claude',
 'claudejade',
 'claudevandamme',
 'claussen',
 'clay',
 'cleaner',
 'cliff',
 'cloudtenpictures',
 'cmdr',
 'cnc',
 'cohencompany',
 'cohengroup',
 'col',
 'colin',
 'college',
 'colmfeore',
 'columbiapictures',
 'columbiapictures40acres',
 'columbiapicturescastlerockentertainment',
 'columbiapicturescastlerockentertainmentnelsonentertainment',
 'columbiapicturescorporation',
 'columbiapicturescorporationdarkcastleentertainmentwarnerbros',
 'columbiapicturescorporationdinodelaurentiiscinematografica',
 'columbiapicturescorporatione',
 'columbiapicturescorporationfrankovichproductions',
 'columbiapicturescorporationglobalentertainmentproductionsgmbh',
 'columbiapicturescorporationhighroadproductions',
 'columbiapicturescorporationhorizonpictures',
 'columbiapicturescorporationmirageenterprises',
 'columbiapicturescorporationmorningsideproductions',
 'columbiapicturescorporationpersky',
 'columbiapicturescorporationpriceentertainment',
 'columbiapicturescorporationrastarpictures',
 'columbiapicturescorporationrastarproductions',
 'columbiapicturesgaumont',
 'columbiapicturesjimhensoncompany',
 'columbiapicturesmandalayentertainment',
 'columbiapicturesnewlinecinemacastlerockentertainment',
 'columbiapicturesrastarproductions',
 'columbiapicturesrevolutionstudios',
 'columbiapicturesrevolutionstudioshappymadisonproductions',
 'columbiapicturesweintraubentertainmentgroup',
 'com',
 'comedy',
 'comedydrama',
 'comedydramain1976',
 'comedyit',
 'comedynooverviewfound',
 'comedyromancealice',
 'comedyromanceasmall',
 'comedyromanceit',
 'comingofage',
 'command',
 'compagniacinematograficachampion',
 'company',
 'companyi',
 'companymedienkg',
 'compulsivedisorder',
 'conaculta',
 'connecticut',
 'connell',
 'connie',
 'convict',
 'cool',
 'cop',
 'copperheartentertainment',
 'corporation',
 'couldn',
 'country',
 'courage',
 'cptc',
 'craig',
 'craigferguson',
 'craven',
 'crime',
 'crossed',
 'crosses',
 'crosshim',
 'crowd',
 'crowninternationalpictures',
 'crowninternationalpicturesmarimarkproductions',
 'cruelty',
 'cruise',
 'ctbfilmcompany',
 'cube',
 'cunninghamfilms',
 'customers',
 'cynthia',
 'cynthiarothrock',
 'dacfilmrome',
 'daieimotionpicturecompany',
 'daieimotionpicturecompanytoeivideocompanyexcellentfilm',
 'daieistudios',
 'dale',
 'daniafilmnationalcinematograficamedusadistribuzione',
 'danielle',
 'danny',
 'dannydevito',
 'dannyglover',
 'daphne',
 'daughter',
 'dave',
 'david',
 'davidduchovny',
 'davidladdfilms',
 'davidv',
 'davis',
 'dawg',
 'day',
 'dc',
 'dccomicswarnerbros',
 'dead',
 'death',
 'debbie',
 'debrawinger',
 'dec',
 'decla',
 'defa',
 'defense',
 'deg',
 'delaurentiiscinematografica',
 'delaurentiisentertainmentgroup',
 'demons',
 'dennishopper',
 'dennisquaid',
 'depardieu',
 'derek',
 'designers',
 'desire',
 'despitethis',
 'destinationfilms',
 'destruction',
 'destructive',
 'destructivebehavior',
 'detdanskefilminstitutmemfisfilmfilmiväst',
 'diane',
 'dies',
 'dil',
 'dillon',
 'dimensionfilms',
 'dimensionfilmstroublemakerstudiosmiramax',
 'dinodelaurentiiscinematografica',
 'dinodelaurentiiscompany',
 'dinodelaurentiiscompanyspellingfilms',
 'director',
 'dirty',
 'disappears',
 'discovery',
 'disease',
 'distantfuture',
 'divorce',
 'doc',
 'doctor',
 'documentary',
 'documentaryforeigndirectormichaelaptedrevisitsthesamegroupofbritish',
 'documentarystyle',
 'doesn',
 'dolly',
 'dominique',
 'don',
 'donbluthproductions',
 'donnell',
 'donner',
 'donnerproductions',
 'donnerproductionswarnerbros',
 'donners',
 'dorff',
 'dorisday',
 'dorothy',
 'double',
 'douglas',
 'dougmcclure',
 'dovemeadfilmsfilmexporta',
 'dr',
 'dracula',
 'drama',
 'dramaahigh',
 'dramaalexander',
 'dramaamiddle',
 'dramaanex',
 'dramaantonio',
 'dramaasmall',
 'dramaayoung',
 'dramabasedonatruestory',
 'dramacomedy',
 'dramadr',
 'dramaduringworldwarii',
 'dramahistoryinpre',
 'dramahistorywar',
 'dramahorrorsciencefictiondr',
 'dramainpre',
 'dramait',
 'dramaromance',
 'dramaromanceit',
 'dramaromancewarduringworldwarii',
 'dramawarduringworldwarii',
 'dre',
 'dreamworksanimation',
 'dreamworksskg',
 'dreamworksskgdreamworksanimation',
 'dreamworksskgpacificdataimages',
 'dreamworksskgthemontecitopicturecompany',
 'drinking',
 'drinks',
 'driveproductions',
 'driving',
 'droitsaudiovisuels',
 'drug',
 'drugs',
 'dudleymoore',
 'dye',
 'dylansellersproductionsmadacyentertainment',
 'eagle',
 'ealingstudios',
 'earl',
 'earnshaw',
 'earnshawreturnsfromatriptothecity',
 'ears',
 'earth',
 'easternproductions',
 'eatingzombies',
 'ed',
 'eddie',
 'eddiemurphy',
 'eden',
 'edgarhoover',
 'edwardsmallproductions',
 'eeyore',
 'efve',
 'ego',
 'eia',
 'eiga',
 'eisenhower',
 'eldeseo',
 'elena',
 'elina',
 'ellen',
 'eltopo',
 'elvis',
 'emg',
 'emifilms',
 'emifilmsltd',
 'emma',
 'empirepictures',
 'endjob',
 'enemies',
 'england',
 'english',
 'enrightproductions',
 'enroute',
 'entertainmentdimensionfilmsbradgreypictures',
 'eonproductions',
 'eonproductionsmetro',
 'er',
 'eric',
 'erica',
 'ernest',
 'errolflynn',
 'escape',
 'esmeralda',
 'esmondsr',
 'españa',
 'españasociedadgeneraldecine',
 'españasociedadgeneraldetelevisión',
 'estelle',
 'ethanhawke',
 'eurekapictures',
 'euro',
 'europacorp',
 'eurovideo',
 'euskaltelebista',
 'euterpemetro',
 'eve',
 'evenifit',
 'eventhoughthey',
 'eventually',
 'evil',
 'ex',
 'excelentertainment',
 'exploitationetdedistributiondefilms',
 'extortion',
 'facesinternationalfilms',
 'factorfiction',
 'fagin',
 'faith',
 'fallinlove',
 'fame',
 'family',
 'famous',
 'famousfilms',
 'famousplayers',
 'fandango',
 'fanfarefilms',
 'fantasia',
 'farewellmyconcubine',
 'fast',
 'father',
 'fbb',
 'featureproductions',
 'fei',
 'feldmangroup',
 'felix',
 'female',
 'ffa',
 'fields',
 'fifilm',
 'fifteenyearslater',
 'fight',
 'film',
 'filmag',
 'filmboardberlin',
 'filmecreativepool',
 'filmfour',
 'filmgmbh',
 'filmkunst',
 'filmovéstudiobarrandov',
 'filmpolski',
 'filmproduktionkg',
 'films',
 'filmsa2',
 'filmscentrenationaldelacinématographie',
 'filmss',
 'filmteknik',
 'filmtrusts',
 'filmverlagderautorentangofilm',
 'filmwayspictures',
 'filmwayspicturesmetro',
 'filmwerks',
 'filmworkshop',
 'finalcut',
 'finally',
 'finelinefeatures',
 'finelinefeaturesalliancecommunications',
 'finian',
 'firstartistsverdonproductionslimited',
 'firstfloorfeatures',
 'firstlove',
 'firstnationalpictures',
 'firstnationalpictureswarnerbros',
 'fish',
 'fishoutofwater',
 'fiveyearslater',
 'florida',
 'flowers',
 'fondoparalaproduccióncinematográficadecalidad',
 'food',
 'foot',
 'foprocine',
 'fordifferentreasons',
 'forever',
 'forhim',
 'formernavysealcaseyryback',
 'forthefirsttime',
 'forthem',
 'fortunately',
 'fostercompany',
 ...]

In [48]:
from sklearn.metrics.pairwise import cosine_similarity

In [49]:
similarity=cosine_similarity(vectors)

In [50]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movie_lists = sorted(list(enumerate(distances)), reverse=True, key=lambda x: x[1])
    
    top_movies=[]
    for i in movie_lists:
        
        top_movies.append(new_df.iloc[i[0]]['title'])
        
    
    for movie_title in top_movies[1:6]:
        print(movie_title)

In [51]:
recommend('Toy Story')

Toy Story 2
Change of Habit
Finding Nemo
Life Is Sweet
Simon Birch

In [52]:
import pickle

In [53]:
pickle.dump(new_df,open('movies.pkl','wb'))

In [54]:
new_df['title'].values

array(['Toy Story', 'Jumanji', 'Grumpier Old Men', ...,
       'The Red Squirrel', 'Martin (Hache)', 'Ugly, Dirty and Bad'],
      dtype=object)

In [55]:
pickle.dump(similarity,open('similarity.pkl','wb'))

In [56]:
print(pd.__version__)

1.4.4

In [57]:
new_df['poster_path']

0       /rhIRbceoE9lR4veEXuwCC2wARtG.jpg
1       /vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg
2       /6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg
3       /16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg
4       /e64sOI48hQXyru7naBFyssKFxVd.jpg
                      ...
9995    /aAXkCI97RDUJtHEi9mVk5vcoIGx.jpg
9996    /hfyZgFOjZAk10YlsRl9krBMuQ9K.jpg
9997    /fc2S2ZakzdShZgkyMrUbFtHSBbX.jpg
9998    /wc3Shs33dEvSyaBy5ZLKOJqfLXQ.jpg
9999    /skjwZXDQCCzFZW6TuRolHbnEgem.jpg
Name: poster_path, Length: 9997, dtype: object